@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

<form method="post" asp-controller="Auth" asp-action="Login">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <input type="submit" value="Login" />
</form>  